In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
df=pd.read_csv("roboBohr.csv")

In [4]:
dfcopy=df.copy()

In [5]:
dfcopy.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,1267,1268,1269,1270,1271,1272,1273,1274,pubchem_id,Eat
0,0,73.516695,17.817765,12.469551,12.458130,12.454607,12.447345,12.433065,12.426926,12.387474,...,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,25004,-19.013763
1,1,73.516695,20.649126,18.527789,17.891535,17.887995,17.871731,17.852586,17.729842,15.864270,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25005,-10.161019
2,2,73.516695,17.830377,12.512263,12.404775,12.394493,12.391564,12.324461,12.238106,10.423249,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25006,-9.376619
3,3,73.516695,17.875810,17.871259,17.862402,17.850920,17.850440,12.558105,12.557645,12.517583,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25009,-13.776438
4,4,73.516695,17.883818,17.868256,17.864221,17.818540,12.508657,12.490519,12.450098,10.597068,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25011,-8.537140

In [6]:
dfcopy.drop(["0","pubchem_id"],axis=1,inplace=True)

In [7]:
dfcopy.head()

,Unnamed: 0,1,2,3,4,5,6,7,8,9,...,1266,1267,1268,1269,1270,1271,1272,1273,1274,Eat
0,0,17.817765,12.469551,12.458130,12.454607,12.447345,12.433065,12.426926,12.387474,12.365984,...,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,-19.013763
1,1,20.649126,18.527789,17.891535,17.887995,17.871731,17.852586,17.729842,15.864270,15.227643,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-10.161019
2,2,17.830377,12.512263,12.404775,12.394493,12.391564,12.324461,12.238106,10.423249,8.698826,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9.376619
3,3,17.875810,17.871259,17.862402,17.850920,17.850440,12.558105,12.557645,12.517583,12.444141,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-13.776438
4,4,17.883818,17.868256,17.864221,17.818540,12.508657,12.490519,12.450098,10.597068,10.595914,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-8.537140

In [8]:
dfcopy.drop(["Unnamed: 0"],axis=1,inplace=True)

In [9]:
dfcopy.head()

,1,2,3,4,5,6,7,8,9,10,...,1266,1267,1268,1269,1270,1271,1272,1273,1274,Eat
0,17.817765,12.469551,12.458130,12.454607,12.447345,12.433065,12.426926,12.387474,12.365984,12.342823,...,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,-19.013763
1,20.649126,18.527789,17.891535,17.887995,17.871731,17.852586,17.729842,15.864270,15.227643,15.202985,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-10.161019
2,17.830377,12.512263,12.404775,12.394493,12.391564,12.324461,12.238106,10.423249,8.698826,7.607776,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9.376619
3,17.875810,17.871259,17.862402,17.850920,17.850440,12.558105,12.557645,12.517583,12.444141,12.420665,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-13.776438
4,17.883818,17.868256,17.864221,17.818540,12.508657,12.490519,12.450098,10.597068,10.595914,10.485270,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-8.537140

In [24]:
import pandas as pd

# Assuming dfcopy_reduced is your DataFrame with 528 columns
# Step 1: Calculate the correlation matrix
correlation_matrix = dfcopy2.corr(method='pearson')

# Step 2: Create a set to keep track of columns to drop
columns_to_drop = set()

# Step 3: Iterate over the correlation matrix
for i in range(len(correlation_matrix.columns)):
    for j in range(i):
        if abs(correlation_matrix.iloc[i, j]) > 0.8:  # Check if the correlation is greater than 0.8
            colname = correlation_matrix.columns[i]  # Get the column name
            columns_to_drop.add(colname)  # Add it to the set of columns to drop

# Optional: Choose to keep the first column from each pair
# You could also implement a strategy to keep the column with a higher variance or some other criteria.

# Step 4: Drop the identified columns from the original DataFrame
dfcopy3 = dfcopy2.drop(columns=columns_to_drop)

# Step 5: Display the shape of the new DataFrame
print(f"Original number of columns: {dfcopy2.shape[1]}")
print(f"Reduced number of columns: {dfcopy3.shape[1]}")

Original number of columns: 528
Reduced number of columns: 17

In [25]:
dfcopy3.head()

,1,50,99,147,194,240,285,329,840,869,897,924,950,999,1022,1065,1085
0,17.817765,36.858105,36.858105,36.858105,36.858105,36.858105,36.858105,36.858105,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
1,20.649126,73.516695,73.516695,73.516695,73.516695,53.358707,36.858105,36.858105,0.5,0.5,0.5,0.5,0.0,0.0,0.0,0.0,0.0
2,17.830377,36.858105,36.858105,36.858105,36.858105,36.858105,36.858105,36.858105,0.5,0.5,0.5,0.0,0.0,0.0,0.0,0.0,0.0
3,17.875810,73.516695,73.516695,36.858105,36.858105,36.858105,36.858105,36.858105,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
4,17.883818,73.516695,36.858105,36.858105,36.858105,36.858105,36.858105,36.858105,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
import numpy as np

# Assuming dfcopy2 is your original DataFrame
# Calculate the correlation matrix
corr_matrix = dfcopy.corr()

# Create a mask for the upper triangle
mask = np.triu(np.ones_like(corr_matrix, dtype=bool))

# Create a list to hold columns to drop
columns_to_drop = []

# Iterate through the columns in the correlation matrix
for i in range(len(corr_matrix.columns)):
    for j in range(i):
        if abs(corr_matrix.iloc[i, j]) > 0.8:  # Check for correlation > 0.8
            colname = corr_matrix.columns[i]
            if colname != 'Eat' and colname not in columns_to_drop:
                columns_to_drop.append(colname)

# Drop the columns from dfcopy2 and create dfcopy4
dfcopy4 = dfcopy.drop(columns=columns_to_drop)

# Show the new DataFrame shape
print(dfcopy4.shape)

(16242, 18)

In [29]:
dfcopy4.head()

,1,50,99,147,194,240,285,329,840,869,897,924,950,999,1022,1065,1085,Eat
0,17.817765,36.858105,36.858105,36.858105,36.858105,36.858105,36.858105,36.858105,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,-19.013763
1,20.649126,73.516695,73.516695,73.516695,73.516695,53.358707,36.858105,36.858105,0.5,0.5,0.5,0.5,0.0,0.0,0.0,0.0,0.0,-10.161019
2,17.830377,36.858105,36.858105,36.858105,36.858105,36.858105,36.858105,36.858105,0.5,0.5,0.5,0.0,0.0,0.0,0.0,0.0,0.0,-9.376619
3,17.875810,73.516695,73.516695,36.858105,36.858105,36.858105,36.858105,36.858105,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,-13.776438
4,17.883818,73.516695,36.858105,36.858105,36.858105,36.858105,36.858105,36.858105,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-8.537140

In [30]:
from sklearn.preprocessing import StandardScaler

# Assuming dfcopy4 is your DataFrame

# Step 1: Separate the 'Eat' column
eat_column = dfcopy4[['Eat']]
features_to_scale = dfcopy4.drop(columns=['Eat'])

# Step 2: Create an instance of StandardScaler and fit/transform the features
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features_to_scale)

# Convert the scaled features back to a DataFrame
scaled_df = pd.DataFrame(scaled_features, columns=features_to_scale.columns)

# Step 3: Concatenate the scaled features with the 'Eat' column
dfcopy5 = pd.concat([scaled_df, eat_column.reset_index(drop=True)], axis=1)

# Show the first few rows of the new DataFrame
print(dfcopy5.head())

          1        50        99       147       194       240       285  \
0 -0.534448 -0.581890 -0.591997 -0.523183 -0.418308 -0.212815  0.004856
1 -0.207476 -0.007514  0.553831  1.237657  2.177325  1.105210  0.004856
2 -0.532992 -0.581890 -0.591997 -0.523183 -0.418308 -0.212815  0.004856
3 -0.527745 -0.007514  0.553831 -0.523183 -0.418308 -0.212815  0.004856
4 -0.526820 -0.007514 -0.591997 -0.523183 -0.418308 -0.212815  0.004856

        329       840       869       897       924       950       999  \
0  0.185074 -0.140132 -0.086794 -0.036400  0.022466  0.083268  0.207589
1  0.185074 -0.140132 -0.086794 -0.036400  0.022466 -0.168848 -0.174526
2  0.185074 -0.140132 -0.086794 -0.036400 -0.167103 -0.168848 -0.174526
3  0.185074 -0.140132 -0.086794 -0.036400  0.022466  0.083268  0.207589
4  0.185074 -0.140132 -0.193003 -0.174403 -0.167103 -0.168848 -0.174526

       1022      1065      1085        Eat
0  0.319101  0.595678  1.093037 -19.013763
1 -0.189613 -0.216587 -0.315684 -10.161019
2 -0.189613 -0.216587 -0.315684  -9.376619
3  0.319101  0.595678  1.093037 -13.776438
4 -0.189613 -0.216587 -0.315684  -8.537140

In [31]:
dfcopy5.head()

,1,50,99,147,194,240,285,329,840,869,897,924,950,999,1022,1065,1085,Eat
0,-0.534448,-0.581890,-0.591997,-0.523183,-0.418308,-0.212815,0.004856,0.185074,-0.140132,-0.086794,-0.036400,0.022466,0.083268,0.207589,0.319101,0.595678,1.093037,-19.013763
1,-0.207476,-0.007514,0.553831,1.237657,2.177325,1.105210,0.004856,0.185074,-0.140132,-0.086794,-0.036400,0.022466,-0.168848,-0.174526,-0.189613,-0.216587,-0.315684,-10.161019
2,-0.532992,-0.581890,-0.591997,-0.523183,-0.418308,-0.212815,0.004856,0.185074,-0.140132,-0.086794,-0.036400,-0.167103,-0.168848,-0.174526,-0.189613,-0.216587,-0.315684,-9.376619
3,-0.527745,-0.007514,0.553831,-0.523183,-0.418308,-0.212815,0.004856,0.185074,-0.140132,-0.086794,-0.036400,0.022466,0.083268,0.207589,0.319101,0.595678,1.093037,-13.776438
4,-0.526820,-0.007514,-0.591997,-0.523183,-0.418308,-0.212815,0.004856,0.185074,-0.140132,-0.193003,-0.174403,-0.167103,-0.168848,-0.174526,-0.189613,-0.216587,-0.315684,-8.537140

In [32]:
X=dfcopy5.drop("Eat",axis=1)
y=dfcopy5["Eat"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [34]:
from sklearn.linear_model import Lasso
lasso_model = Lasso(alpha=1.0) 
lasso_model.fit(X_train,y_train)

Lasso()

from sklearn.metrics import mean_squared_error
y_predict=lasso_model.pre

In [35]:
from sklearn.metrics import mean_absolute_percentage_error
y_predict=lasso_model.predict(X_test)
Error=mean_absolute_percentage_error(y_test,y_predict)

In [36]:
Error

0.25889423026436176